<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>About - Safaia Coffee</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <!-- FONT PAGE LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
    </style>
</head>

<body>
    <!-- NAV BAR/HEADER -->
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/" style="color: black;">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/about" style="color: black;">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact" style="color: black;">Contact</a>
        </li>
    </ul>

    <main>
        <div class="page-grid-layout">
            <div class="box">
                <h4 style="text-align:center;">About Us</h4><br>

                <img src="./assets/coffees/about.jpeg" alt="Safaia Coffee" height="500"
                    style="display: block; margin: auto; border-radius: 20px;"><br>

                <p>Safaia Coffee invites you to embark on a journey of sensory delight with our Japanese-inspired coffee
                    creations. Immerse yourself in the artistry of precision brewing and the tranquility of our serene
                    ambiance. From exquisite pour-over rituals to matcha-infused delights, every cup at Safaia is a
                    harmonious blend of flavor and culture. Elevate your coffee experience with us, where every sip is a
                    moment of zen.</p><br><br>

                <!-- Coffee Flavors -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <img src="./assets/coffees/c1.jpeg" class="card-img-top" alt="Cappuccino"
                                style="width: 100%; height: auto;">
                            <div class="card-body">
                                <h5 class="card-title">Cappuccino</h5>
                                <p class="card-text">Frothy & flavorful blend</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="./assets/coffees/c2.jpeg" class="card-img-top" alt="Dark Roast Americano"
                                style="width: 100%; height: auto;">
                            <div class="card-body">
                                <h5 class="card-title">Dark Roast Americano</h5>
                                <p class="card-text">Rich & bold flavor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="./assets/coffees/c3.jpeg" class="card-img-top"
                                alt="Cold Brew + Sea Salt Foam" style="width: 100%; height: auto;">
                            <div class="card-body">
                                <h5 class="card-title">Cold Brew + Sea Salt Foam</h5>
                                <p class="card-text">Stronger blend bursting with saltiness from creamy foam</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <img src="./assets/coffees/c4.jpeg" class="card-img-top" alt="Iced Latte"
                                style="width: 100%; height: auto;">
                            <div class="card-body">
                                <h5 class="card-title">Iced Latte</h5>
                                <p class="card-text">Exciting flavors to awaken your senses</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <footer class="footer" style="text-align:center;">
        Copyright © 2024 Patty Bactad. All Rights Reserved.
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>
